@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&family=Voces&display=swap&family=Exo:ital,wght@0,100..900;1,100..900&display=swap");

.product {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 160px;
    background-color: #f2f2f2;
    border-radius: 10px;
    width: 32.5%;
    box-sizing: border-box;
}

.img-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.img-desc-price {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.text-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    width: 56%;
    box-sizing: border-box;
}

.product-img {
    width: 110px;
    border-radius: 10px;
}

.product-name {
    font-size: 20px;
}

.product-description {
    font-size: 16px;
    line-height: 22px;
}

.stars-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-buy-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 0.5px solid #c6c6c6;
    font-size: 14px;
    font-family: "Mukta", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    width: 100%;
    max-width: 100%;
    height: 25%;
    transition: background-color, color 0.3s ease;
}

.product-buy-button:hover {
    background-color: #43b02b;
    color: #fff;
    border: 0.5px solid #fff;
    cursor: pointer;
}

.buy-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding: 10px 0px;
    box-sizing: border-box;
}

.buy-price {
    font-size: 18px;
}

.cart-icon {
    font-size: 18px;
}

.star-icon {
    transition: color 0.3s ease;
}

.star-icon:hover {
    color: #ffcc33;
}