.image-container {
    display: flex;
    justify-content: end;
    width: 100%;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 10px 0px;
}

.image {
    width: 100%;
    height: auto;
    transition: box-shadow 0.3s ease;
}

.image:hover {
    -webkit-box-shadow: 0px 15px 5px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 5px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 5px -7px rgba(0,0,0,0.75);
}

@media (max-width: 1440px) {
    
    .image {
        height: 300px;
    }
}

@media (max-width: 480px) {
    
    .image-container {
        display: none;
    }
}
